PORT=8083
SERVICE_NAME=hs-news-service

MONGODB_URI=mongodb://homespace:homespace123@localhost:27017/homespace_news?authSource=admin

EUREKA_CLIENT_SERVICE_URL=http://localhost:8761/eureka
EUREKA_INSTANCE_HOSTNAME=localhost

AWS_REGION=ap-southeast-1
AWS_S3_BUCKET=homespace-dev-files
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_UPLOAD_URL_DURATION_SECONDS=600
